:root {
    --elec-blue: #77C4D3;
    --elec-white: #DAEDE2;
    --elec-red: #EA2E49;
    --elec-black: #333745;
    --elec-yellow: #F6F792;
}


.cd-header{
    background: var(--elec-blue);
    position: fixed;
    /*background: var(--elec-blue); !* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(var(--elec-blue),var(--elec-white), var(--elec-red)); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(var(--elec-blue), var(--elec-white), var(--elec-red)); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(var(--elec-blue), var(--elec-white), var(--elec-red)); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(var(--elec-blue), var(--elec-white), var(--elec-red)); !* Standard syntax *!*/
}

.image-profile{
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.image-profile-current{
    position: absolute;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    top: 40.5%;
    left: 38%;
}

.elec-inscription{
    margin-top: 5%;
    color: white;
}

.elec-info-danger{
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
    background: var(--elec-red);
}

.elec-deco{
    padding: 5px;
    margin-top: 26px;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: var(--elec-red);
    user-select: none;

}

progress[value] {
    padding: 10px;
    width: 500px;
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    background-image:
            -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;

}


.image-parti{
    width: 50px;
    height: 50px;
}

.image-profile-edit{
    margin-bottom: 10px;
}

.elec-panel{

    margin-top: 16px;
}

.elec-list-candidate{
    /*background-color: var(--elec-white);*/
    padding-top: 10px;
    padding-bottom: 10px;
    /*border: 5px solid var(--elec-black);*/

}

.donut{
    margin-top: 100px;
    width: 840px;
    height: 420px;
}

.elec-footer{
    height: 20%;
}



.elec-vote-button{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: var(--elec-red);
    user-select: none;
}

.elec-form{
    padding-top: 100px;
}

.elec-body{
    height: 80%;
}

.elec-form-connexion{
    position: absolute;
    top: 105%;
    left: 28%;
    padding: 10px;
    font-size: 12pt;
    font-weight: 100;
}

.elec-form-inscrire{
    position: absolute;
    top: 130%;
    left: 31%;
    padding: 10px;
    font-size: 12pt;
    font-weight: 100;
}

.candidate-edit{
    padding: 20px;
    height: 190px;
    background-color: var(--elec-white);
    border: 5px solid var(--elec-black);
}

.candidate-name{
    padding: 5px;
}
.cd-header-title{
    text-align: center;
}

.cd-body{
    //background-color: var(--elec-black);

    text-align: center;
    font-family: "Nirmala UI";
}

.cd-body-input{
    background-color: #6dd3e7;
    text-align: center;
    margin-top: 50px;
}

.cd-form{
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #6dd3e7;
    overflow-x: hidden;
    background-repeat:no-repeat;
    background-position:100% 0%;
    background-image: url("../img/D51K9856B.jpg");
}