<div class="col-md-12" ng-controller="authController">
    <form>
        <div class="form-group col-md-2 col-md-offset-5 elec-form">
            <input class="form-control" type="text" placeholder="Login" ng-model="login">
            <br/>
            <input class="form-control elec-form" type="password" placeholder="Mot de passe" ng-model="password">
            <br/>
            <span class="elec-vote-button elec-form-connexion" ng-click="connexion()"><a style="pointer-events: none; color: white">CONNEXION</a></span>
            <br/>
            <span class="elec-vote-button elec-form-inscrire"><a style="pointer-events: none; color: white">S'INSCRIRE</a></span>
        </div>
    </form>
</div>